{% extends 'base.html.twig' %}

{% block title "Nouvelle option" %}

{% block body %}

    <div class="container mt-4">
        
        <h1>Ajouter une option</h1>
        {{ include('admin/option/_form.html.twig', {form: form, button: 'Ajouter'}) }}
    </div>

{% endblock %}